<!DOCTYPE html>
<html lang="ja" layout:decorate="~{layout/form-layout}">

<head>
	<title layout:fragment="title" th:text="${customHeader.headerItem}"></title>
</head>

<body>

	<div layout:fragment="content">

		<!-- メッセージ -->
		<div class="alert alert-primary mt-5" role="alert">
			<span th:text="#{productInfoEdit}"></span>
		</div>

		<form method="post" th:object="${productEditForm}" 
			th:action="@{/products/{productId}/info/edit(productId=${productWithSupplier.product.productId})}" >

			<!-- 商品番号 -->
			<div>
				<label class="mb-1" for="productNumber" th:text="#{productNumber}"></label>
				<input class="form-control mb-3 fs-5" type="text" th:field="*{productNumber}"
					th:errorclass="is-invalid">

				<!-- エラーメッセージ -->
				<div class="invalid-feedback mb-4 fs-6" th:errors="*{productNumber}"></div>
			</div>
			
			<!-- 商品名 -->
			<div>
				<label class="mb-1" for="productName" th:text="#{productName}"></label>
				<input class="form-control mb-3 fs-5" type="text" th:field="*{productName}"
					th:errorclass="is-invalid">

				<!-- エラーメッセージ -->
				<div class="invalid-feedback mb-4 fs-6" th:errors="*{productName}"></div>
			</div>

			<!-- 入荷先名 -->
			<div>
				<label class="mb-1" for="supplierId" th:text="#{supplierName}"></label>
				<select class="form-select mb-3 fs-5" th:field="*{supplierId}"
					th:errorclass="is-invalid">
					<option value="" th:text="#{select}"></option>
					<div th:each="item:${supplierList}">
						<option th:value="${item.supplierId}" th:label="${item.supplierName}"></option>
					</div>
				</select>

				<!-- エラーメッセージ -->
				<div class="invalid-feedback mb-4 fs-6" th:errors="*{supplierId}"></div>
			</div>

			<div class="mt-5">
				<!-- 確定ボタン -->
				<button class="btn btn-primary btn-lg me-2 mb-5" type="submit" id="productInfoEdit" name="productInfoEdit"
					 th:text="#{confirmed}"></button>

				<!-- キャンセルボタン -->
				<a class="btn btn-outline-primary btn-lg mb-5" th:href="@{/products/{productId}/info/display-details(productId=${productWithSupplier.product.productId})}" 
				 role="button" id="cancel" name="cancel" th:text="#{cancel}"></a>
			</div>
		</form>

	</div>
</body>

</html>