<!DOCTYPE html>
<html lang="ja" layout:decorate="~{layout/main-layout}">

<head>
	<!--/* titleはfragmentで置換する */-->
	<title layout:fragment="title" th:text="${customHeader.headerItem}"></title>
</head>

<body>
	<div layout:fragment="content">
		<!--/* 商品登録ボタンと検索フォームをdivタグのrowでひとまとめにしている.このまとまりの上下に余白を別で足している. */-->
		<div class="row mt-5 mb-5">
			<!-- 商品登録ボタン -->
			<!--/* パソコン用(992px以上)なら商品登録ボタンと検索フォーム・ボタンが横並びになるようにしている.
			d-flexでdivタグをフレックスコンテナに変えることで子要素(aタグ)をフレックスアイテムとして細かく配置ができるようになる.
			justify-content-center align-items-center(中央配置)はd-flexがあるため使用できる. 
			これらは子要素に作用することに注意する.pb-4は小さい画面で商品登録ボタンと検索フォーム・ボタンが二段になっているときに余白をつけるためのもの. */-->
			<div class="col-lg-6 d-flex justify-content-center align-items-center pb-4"
				sec:authorize="hasAuthority('ROLE_ADMIN')">
				<a class="btn btn-dark btn-lg" th:href="@{/products/info/register}" role="button"
					th:text="#{productRegister}"></a>
			</div>

			<!-- 検索フォームと検索ボタン -->
			<!--/* colで商品登録ボタンとは別要素と判断されて横方向に分割して表示される. */-->
			<div class="col">
				<!--/* d-flexをformタグにつけることでformタグの子要素の検索フォームと検索ボタンを横並びにし,中央配置にできる. */-->
				<form class="d-flex justify-content-center align-items-center" method="get"
					th:action="@{/products/info/list}">
					<!-- 検索フォーム -->
					<!--/* inputタグのw-auto d-inline-blockはform-controlのwidth:100%,display:blockを上書きしていおり,
					これにより検索フォームとボタンの高さを合わせている. */-->
					<div>
						<label for="search"></label>
						<input class="form-control form-control-lg w-auto d-inline-block" type="search" id="search"
							name="search" th:value="${search}" th:placeholder="#{searchForm}">
					</div>

					<!-- 検索ボタン -->
					<!--/* ps-4で検索フォームとの間に余白を作っている. */-->
					<div class="ps-4">
						<label for="search-btn"></label>
						<button class="btn btn-outline-dark btn-lg " type="submit" id="search-btn"
							th:text="#{searchBtn}"></button>
					</div>
				</form>
			</div>

		</div>

		<!-- 商品一覧表示 -->
		<div class="row">
			<!--/* table-responsiveでラップしたテーブルは、テーブルの内容が多くて横幅が広くなったときにスクロールバーが表示される */-->
			<div class="col table-responsive">
				<table class="table table-striped text-center fs-5">
					<thead>
						<tr>
							<th scope="col" th:text="#{productNumber}"></th>
							<th scope="col" th:text="#{productName}"></th>
							<th scope="col" th:text="#{supplierName}"></th>
							<th scope="col" th:text="#{stockQuantity}"></th>
							<th scope="col"></th>
						</tr>
					</thead>

					<tbody>
						<!--/* 削除済みの商品以外を表示し、在庫数が10未満の商品の行を黄色にする. */-->

						<tr th:each="item:${productList.list}"
							th:classappend="${item.stockQuantity} < 10  ? 'table-warning' : ''">

							<td th:text="${item.productNumber}"></td>
							<td th:text="${item.productName}"></td>
							<td th:text="${item.supplierName}"></td>
							<td th:text="${item.stockQuantity}"></td>
							<td>
								<a class="btn btn-danger btn-lg me-3 mb-2"
									th:href="@{'/products/' + ${item.productId} + '/count/arrive'}" role="button"
									th:text="#{arrival}"></a>
								<a class="btn btn-primary btn-lg me-3 mb-2"
									th:href="@{'/products/' + ${item.productId} + '/count/ship'}" role="button"
									th:text="#{shipping}"></a>
								<a class="btn btn-success btn-lg me-3 mb-2"
									th:href="@{'/products/' + ${item.productId} + '/info/display-details'}" role="button"
									th:text="#{details}"></a>
							</td>
						</tr>
					</tbody>
				</table>

				<!-- ページネーション -->
				<div class="mt-5 mb-5 overflow-auto">
					<nav aria-label="Page navigation">
						<ul class="pagination pagination-lg justify-content-center">

							<!-- 前のページ -->
							<li class="page-item" th:classappend="${!productList.hasPreviousPage} ? 'disabled'">
								<a class="page-link"
									th:href="@{/products/info/list(page=${productList.prePage == 0} ? '1' : ${productList.prePage},
									search=${search})}"
									aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>

							<!-- ページ番号 -->
							<li th:each="i : ${productList.navigatepageNums}" class="page-item"
								th:classappend="${i} == ${productList.pageNum} ? 'active'">
								<a class="page-link" th:href="@{/products/info/list(page=${i},search=${search})}" th:text="${i}"></a>
							</li>

							<!-- 次のページ -->
							<li class="page-item" th:classappend="${!productList.hasNextPage} ? 'disabled'">
								<a class="page-link"
									th:href="@{/products/info/list(page=${productList.nextPage == 0} ? '1' : ${productList.nextPage},
									search=${search})}"
									aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>

						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</body>

</html>