<!DOCTYPE html>
<html lang="ja" layout:decorate="~{layout/main-layout}">

<head>
	<!--/* titleはfragmentで置換する */-->
	<title layout:fragment="title" th:text="${customHeader.headerItem}"></title>
</head>

<body>
	<div layout:fragment="content">
		<div class="row text-center mt-5 mb-5">
			<!-- 商品登録ボタン -->
			<!--/* パソコン用(992px以上)なら商品登録ボタンと検索フォームが横並びになるようにしている.
			pb-4は小さい画面で商品登録ボタンと検索フォームが二段になっているときに余白をつけるためのもの. */-->
			<div class="col-lg-6 pb-4" sec:authorize="hasAuthority('ROLE_ADMIN')">
				<a class="btn btn-success btn-lg" th:href="@{/products/info/register}" role="button"
					th:text="#{productRegister}"></a>
			</div>

			<!-- 検索フォーム -->
			<div th:classappend="${#authorization.expression('hasRole(''ADMIN'')')} ? 'col-lg-6' : ''">
				<form method="get" th:action="@{/products/info/list}">
					<div>
						<!--/* inputタグのw-auto・d-inline-blockはform-controlのwidth:100%,
							display:blockを上書きしている.これにより検索フォームがの横幅がいっぱいに広がらずに適切な大きさにされる.
							またd-inline-blockによりtext-centerが適用される. */-->
						<label for="search"></label>
						<input class="form-control form-control-lg w-auto d-inline-block" type="search" id="search"
							name="search" th:value="${search}" th:placeholder="#{searchForm}">
					</div>
				</form>
			</div>

		</div>

		<!-- 商品一覧表示 -->
		<div class="row">
			<!--/* table-responsiveでラップしたテーブルは、テーブルの内容が多くて横幅が広くなったときにスクロールバーが表示される */-->
			<div class="col table-responsive">
				<table class="table table-striped text-center">
					<thead>
						<tr>
							<th scope="col">
								<div class="d-flex justify-content-center align-items-center">
									<div th:text="#{productNumber}"></div>
									
									<!-- 昇順アイコン -->
									<a class="ms-2 text-dark text-decoration-non link-secondary"
										th:href="@{/products/info/list(sort='asc',search=${search})}">
										<i class="bi bi-caret-up-fill"></i>
									</a>
									<!-- 降順アイコン -->
									<a class="text-dark text-decoration-non link-secondary"
										th:href="@{/products/info/list(sort='desc',search=${search})}">
										<i class="bi bi-caret-down-fill"></i>
									</a>
								</div>
							</th>
							<th scope="col" th:text="#{productName}"></th>
							<th scope="col" th:text="#{supplierName}"></th>
							<th scope="col" th:text="#{stockQuantity}"></th>
							<th scope="col"></th>
						</tr>
					</thead>

					<tbody>
						<!--/* 削除済みの商品以外を表示し、在庫数が10未満の商品の行を黄色にする. */-->

						<tr th:each="item:${productList.list}"
							th:classappend="${item.stockQuantity} < 10  ? 'table-warning' : ''">

							<td th:text="${item.productNumber}"></td>
							<td th:text="${item.productName}"></td>
							<td th:text="${item.supplierName}"></td>
							<td th:text="${item.stockQuantity}"></td>
							<td>
								<!-- 入荷ボタン -->
								<a class="btn btn-danger btn-lg me-3 mb-2"
									th:href="@{'/products/' + ${item.productId} + '/count/arrive'}" role="button"
									th:text="#{arrival}"></a>
								<!-- 出荷ボタン -->
								<a class="btn btn-primary btn-lg me-3 mb-2"
									th:href="@{'/products/' + ${item.productId} + '/count/ship'}" role="button"
									th:text="#{shipping}"></a>
								<!-- 詳細ボタン -->
								<a class="btn btn-warning btn-lg me-3 mb-2"
									th:href="@{'/products/' + ${item.productId} + '/info/display-details'}"
									role="button" th:text="#{details}"></a>
							</td>
						</tr>
					</tbody>
				</table>

				<!-- ページネーション -->
				<div class="d-flex overflow-x-auto justify-content-sm-center mt-5 mb-5"
					th:if="${productList.pages > 1}">
					<nav class="m-2" aria-label="Page navigation">
						<ul class="pagination pagination-lg">

							<!-- 前のページ -->
							<li class="page-item" th:classappend="${!productList.hasPreviousPage} ? 'disabled'">
								<a class="page-link" th:href="@{/products/info/list(page=${productList.prePage == 0} ? '1' : ${productList.prePage},
									search=${search})}" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>

							<!-- ページ番号 -->
							<li class="page-item" th:each="i : ${productList.navigatepageNums}"
								th:classappend="${i} == ${productList.pageNum} ? 'active'">
								<a class="page-link" th:href="@{/products/info/list(page=${i},search=${search})}"
									th:text="${i}"></a>
							</li>

							<!-- 次のページ -->
							<li class="page-item" th:classappend="${!productList.hasNextPage} ? 'disabled'">
								<a class="page-link" th:href="@{/products/info/list(page=${productList.nextPage == 0} ? '1' : ${productList.nextPage},
									search=${search})}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>

						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</body>

</html>