@charset "UTF-8";

/* ヘッダーを固定しているためヘッダーとコンテンツがかぶるので余白をつくる(ヘッダーのfixed-topのposition:fixedの影響と思われる) */
body {
	/* ヘッダーの高さの分(画面サイズにより変わるので1400pxの画面サイズの幅分)余白をつくる */
	padding-top:102.4px;
}

/* ヘッダーの見出しの位置を調整している */  
.header-height{
	margin-left: 40px;
}
.error-message{
	padding-top: 70px;
}