<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.repository.TransactionHistoryMapper">

	<!-- 入荷・出荷・修正履歴を登録する  -->
	<insert id="insertOne" >
		insert into 
			t_transaction_history(
				product_id ,
				amount_of_change,
 				supplier_id,
				customer_id,
				user_id,
				remarks
			) values (
				#{productId},
				#{amountOfChange},
				#{supplierId},
				#{customerId},
				#{userId},
				#{remarks}
			)
	</insert>
	
	<!-- 商品IDから履歴を降順で取得する  -->
	<!-- H2データベースではuserは予約語なので使用できないのでasでテーブルの名前を変更していない  -->
	<select id="findByProductId"
		resultType="HistoryDetails">
		select
			history.id as historyId,			
	 		history.product_id as productId,						
	 		history.amount_of_change as amountOfChange,				
	 		history.supplier_id as supplierId,
	 		history.customer_id as customerId,
	 		history.user_id as userId,
			history.remarks,
			history.register_date_time as historyRegisterDateTime,
			customer.name as customerName,
			m_user.family_name as familyName,
			m_user.first_name as firstName
		from
			t_transaction_history as history
		left join
			m_customer as customer
		on 
			history.customer_id = customer.id
		left join
			m_user
		on 
			history.user_id = m_user.id
		where
			history.product_id = #{productId}
		order by
			history.register_date_time desc
	</select>

</mapper>