<!DOCTYPE html>
<html lang="ja" layout:decorate="~{layout/form-layout}">

<head>
	<title layout:fragment="title" th:text="${customHeader.headerItem}"></title>
</head>

<body>

	<div layout:fragment="content">

		<!-- メッセージ -->
		<div class="alert alert-primary mt-5" role="alert">
			<span th:text="#{supplierEditMessage}"></span>
		</div>

		<form method="post" th:object="${editForm}"
			th:action="@{/suppliers/{supplierId}/edit(supplierId=${supplier.supplierId})}">

			<!-- 入荷先名 -->
			<div>
				<label class="mb-1" for="supplierName" th:text="#{supplierName}"></label>
				<input class="form-control mb-3 fs-5" type="text" th:field="*{supplierName}" 
					th:errorclass="is-invalid">

				<!-- エラーメッセージ -->
				<div class="invalid-feedback mb-4 fs-6" th:errors="*{supplierName}"></div>

			</div>

			<!-- 入荷先名ふりがな -->
			<div>
				<label class="mb-1" for="supplierFurigana" th:text="#{supplierFurigana}"></label>
				<input class="form-control mb-3 fs-5" type="text" th:field="*{supplierFurigana}"
					th:errorclass="is-invalid">

				<!-- エラーメッセージ -->
				<div class="invalid-feedback mb-4 fs-6" th:errors="*{supplierFurigana}">
				</div>
			</div>

			<div class="mt-5">
				<!-- 確定ボタン -->
				<button class="btn btn-primary btn-lg me-2 mb-5" type="submit" id="supplierEdit" name="supplierEdit"
					th:text="#{confirmed}"></button>

				<!-- キャンセルボタン -->
				<a class="btn btn-outline-primary btn-lg mb-5" th:href="@{/suppliers/list}" role="button" id="cancel"
					name="cancel" th:text="#{cancel}"></a>
			</div>
		</form>

	</div>
</body>

</html>