@charset "UTF-8";

/*	cursor: pointer;はマウスカーソルが要素上にある時の形状を「人差し指を立てた手の形（ポインター）」に変更し,
	その要素が「クリック可能」であることをユーザーに視覚的に伝える役割を持つ. */
.showCharacter{
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

/*	height: 100vh;は要素の高さをビューポート（ブラウザの表示領域）の高さの100%に指定する命令.
	*/
.popup {
    display: none;
    height: 100vh;
    width: 100%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
}

.content{
    background: #fff;
    padding: 30px;
    width: 50%;
}

.show {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
