<!DOCTYPE html>
<html lang="ja" layout:decorate="~{layout/form-layout}">

<head>
	<!-- 個別CSS読込 -->
	<link rel="stylesheet" th:href="@{/css/form/edit.css}">
	<title layout:fragment="title" th:text="${customHeader.headerItem}"></title>
</head>

<body>

	<div layout:fragment="content">

		<!-- メッセージ -->
		<div class="fs-4 fw-bold text-center m-5">
			<div class="message-underline" th:text="#{userEditMessage}"></div>
		</div>

		<div>
			<form method="post" th:object="${editForm}" th:action="@{/users/{userId}/edit(userId=${user.userId})}">

				<!-- 従業員番号 -->
				<div>
					<label class="mb-2" for="employeeNumber" th:text="#{employeeNumberInputExample}"></label>
					<input class="form-control mb-2 fs-5" type="text" th:field="*{employeeNumber}"
						th:errorclass="is-invalid">

					<!-- エラーメッセージ -->
					<div class="invalid-feedback fs-6" th:errors="*{employeeNumber}"></div>
				</div>

				<!-- 姓 -->
				<div class="mt-4">
					<label class="mb-2" for="familyName" th:text="#{familyName}"></label>
					<input class="form-control mb-2 fs-5" type="text" th:field="*{familyName}"
						th:errorclass="is-invalid">

					<!-- エラーメッセージ -->
					<div class="invalid-feedback fs-6" th:errors="*{familyName}"></div>
				</div>

				<!-- 名 -->
				<div class="mt-4">
					<label class="mb-2" for="firstName" th:text="#{firstName}"></label>
					<input class="form-control mb-2 fs-5" type="text" th:field="*{firstName}"
						th:errorclass="is-invalid">

					<!-- エラーメッセージ -->
					<div class="invalid-feedback fs-6" th:errors="*{firstName}"></div>
				</div>

				<!-- メールアドレス -->
				<div class="mt-4">
					<label class="mb-2" for="emailAddress" th:text="#{emailAddress}"></label>
					<input class="form-control mb-2 fs-5" type="text" th:field="*{emailAddress}"
						th:errorclass="is-invalid">

					<!-- エラーメッセージ -->
					<div class="invalid-feedback fs-6" th:errors="*{emailAddress}"></div>
				</div>

				<!-- 管理者権限 -->
				<!--/* ログインしている本人以外の管理者権限は変更できるようにし,自身の権限は変更できないようにする. */-->
				<div class="mt-4" th:if="*{emailAddress != #authentication.name}">
					<label class="form-check-label mb-2">
						<input class="form-check-input mb-2 fs-5" type="checkbox" th:field="*{role}" th:errorclass="is-invalid">
						<span th:text="#{role}"></span>
					</label>
					<!-- エラーメッセージ -->
					<div class="invalid-feedback fs-6" th:errors="*{role}"></div>
				</div>
				
				<div class="mt-4" th:if="*{emailAddress == #authentication.name}">
					<div class="mb-2" th:text="#{role}"></div>
					<div class="ms-3 mb-2 fs-5" th:text="#{admin}"></div>
				</div>
				

				<div class="mt-5">
					<!-- 確定ボタン -->
					<button class="btn btn-primary btn-lg me-2 mb-5" type="submit" id="userEdit" name="userEdit"
						th:text="#{confirmed}"></button>

					<!-- キャンセルボタン -->
					<a class="btn btn-outline-primary btn-lg mb-5" th:href="@{/users/list}" role="button" id="cancel"
						name="cancel" th:text="#{cancel}"></a>
				</div>
			</form>
		</div>
	</div>
</body>

</html>