<!DOCTYPE html>
<html lang="ja" layout:decorate="~{layout/main-layout}">

<head>
	<!-- 個別CSS読込 -->
	<link rel="stylesheet" th:href="@{/css/users/password-edit.css}">
	<!--/* titleはfragmentで置換する */-->
	<title layout:fragment="title" th:text="${customHeader.headerItem}"></title>

</head>

<body>
	<div layout:fragment="content">
		<!--/* ユーザー登録ボタンと検索フォームをdivタグのrowでひとまとめにしている
			(rowを使うときはそのすぐ下の子要素にcolを加えないと意味がない).このまとまりの上下に余白を別で足している(margin). */-->
		<div class="row mt-5 mb-5">
			<!-- ユーザー登録ボタン -->
			<!--/* パソコン用(992px以上)ならユーザー登録ボタンと検索フォーム・ボタンが横並びになるようにしている.
			text-centerで中央寄せにしている.
			pb-4は小さい画面でユーザー登録ボタンと検索フォーム・ボタンが二段になっているときに余白をつけるためのもの. */-->
			<div class="col-lg-6 text-center pb-4" sec:authorize="hasAuthority('ROLE_ADMIN')">
				<a class="btn btn-dark btn-lg" th:href="@{/users/register}" role="button" th:text="#{userRegister}"></a>
			</div>

			<!-- 検索フォームと検索ボタン -->
			<!--/* 検索フォームと検索ボタンを横並びにすると検索ボタンの位置が離れるので2段にしている. */-->
			<div class="col-lg-6">
				<form class="" method="get" th:action="@{/users/list}">
					<!-- 検索フォーム -->
					<div class="text-center pb-3">
						<!--/* inputタグのw-auto d-inline-blockはform-controlのwidth:100%,
							display:blockを上書きしていおり,これにより検索フォームとボタンの高さを合わせている. */-->
						<label for="search"></label>
						<input class="form-control form-control-lg w-auto d-inline-block" type="search" id="search"
							name="search" th:value="${search}" th:placeholder="#{searchForm}">
						<!--/* "管理者権限で検索するときは管理者または一般で検索してください"というメッセージを表示する. */-->
						<div class="pt-3" th:text="#{searchText1}"></div>
						<strong class="text-danger" th:text="#{admin}"></strong>
						<span th:text="#{searchText2}"></span>
						<strong class="text-danger" th:text="#{general}"></strong>
						<span th:text="#{searchText3}"></span>
					</div>

					<!-- 検索ボタン -->
					<div class="text-center">
						<label for="search-btn"></label>
						<button class="btn btn-outline-dark btn-lg" type="submit" id="search-btn"
							th:text="#{searchBtn}"></button>
					</div>
				</form>
			</div>

		</div>

		<!-- ユーザー一覧表示 -->
		<div class="row">
			<!--/* table-responsiveでラップしたテーブルは,テーブルの内容が多くて横幅が広くなったときにスクロールバーが表示される. */-->
			<div class="col table-responsive">
				<table class="table table-striped text-center fs-5">
					<thead>
						<tr>
							<th scope="col" th:text="#{employeeNumber}"></th>
							<th scope="col" th:text="#{familyName}"></th>
							<th scope="col" th:text="#{firstName}"></th>
							<th scope="col" th:text="#{emailAddress}"></th>
							<th scope="col" th:text="#{isAdmin}"></th>
							<th scope="col"></th>
						</tr>
					</thead>

					<tbody>
						<!--/* 削除済みのユーザー以外を表示する(userListにはページの情報のほかユーザー情報が入っており,listでアクセスできる). */-->

						<tr th:each="item:${userList.list}">

							<td th:text="${item.employeeNumber}"></td>
							<td th:text="${item.familyName}"></td>
							<td th:text="${item.firstName}"></td>
							<td th:text="${item.emailAddress}"></td>
							<td th:text="${item.isAdmin} == 1 ? #{admin} : #{general}"></td>
							<td>
								<!-- 修正ボタン -->
								<a class="btn btn-primary btn-lg me-3 mb-2"
									th:href="@{'/users/' + ${item.userId}+ '/edit'}" role="button"
									th:text="#{edit}"></a>
								<!-- パスワード修正ボタン -->
								<a class="btn info btn-lg me-3 mb-2"
									th:href="@{'/users/' + ${item.userId}+ '/passwordEdit'}" role="button"
									th:text="#{editPassword}"></a>
								<!-- 削除ボタン -->
								<a class="btn btn-danger btn-lg me-3 mb-2"
									th:href="@{'/users/' + ${item.userId}+ '/delete'}" role="button"
									th:text="#{delete}"></a>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="mt-5">
					<!--/* navタグはウェブサイトの主要なナビゲーション（案内）リンクを囲むHTML5の要素でページネーションでも利用する.
						ARIA属性(aria-)は標準のHTML要素（<button>や<a>など）がもつ本来の意味や役割
						（何をするボタンか,リンクかなど）が,JavaScriptで複雑なユーザーインターフェース（タブで切り替える画面や
						ポップアップのように表示される画面など）を作ることにより失われやすい意味(divタグをbuttonタグのように使うなど)
						を補ったり,HTMLだけでは伝えられない情報をスクリーンリーダーなどの支援技術に伝えるための仕組みのこと.
						aria-label属性はページネーションが「何のためのナビゲーションか」をスクリーンリーダー(読み上げソフト)に伝えるために必
						要なものでPage navigationでページネーション用であることを伝える. */-->
					<nav aria-label="Page navigation">
						<!--/* paginationで体裁を整える(ボタン風にしたり,青文字にしたり,display:flex 子要素(li)を横並び).
							pagination-lgでサイズを大きくしている.
							 justify-content-centerで横並びの子要素(li)を中央揃えにする. */-->
						<ul class="pagination pagination-lg justify-content-center">

							<!-- 前のページ -->
							<!--/* page-itemで個々のページのグループ化をする.また角を丸くしたりなど整える.
								 hasPreviousPageはPageInfoクラスの前のページが存在するかをboolean型で返すメソッド.
								 本来はisHasPreviousPage()メソッドだがTymeleafはJavaBeansの仕様
								 (プロパティはgetter/setterで定義され,通常get~,set~だがboolean型のgetterは
								 is~からでもよくて,プロパティ名はget・set・isをのぞいた名前が付けられる(1文字目は小文字))
								 によりプロパティ名を通じて値にアクセスしている.
								 (PageHelperのPageInfoはprivate boolean hasPreviousPage = false;
								 というフィールドを保持し,
								 public boolean isHasPreviousPage() {
								        return hasPreviousPage;
								 }
								 というgetterを持つ).
								 前のページがないときは前のページのアイコンが暗くなる(disabled). */-->
							<li class="page-item" th:classappend="${!userList.hasPreviousPage} ? 'disabled'">
								<!--/* page-linkで枠線・色・余白や位置などの見た目が整う.
									prePageはPageHelperのフィールドで前のページを値に持つ.
									private int prePage;とint型で宣言されているのでprePageは初期値が0となる
									(プリミティブ型はnullがない).
							 		calcPage()メソッドでprePageを更新するとき,
							 		if (pageNum > 1) {
                						prePage = pageNum - 1;
           							 } という条件分岐となっている.
            				 		現在ページが1より大きくなったらprePageは更新されず初期値0のままのためprePage = 0になる.
            				 		そもそも前のページがなければ
            				 		th:classappend="${!pageInfo.hasPreviousPage} ? 'disabled'"
            				 		で選択できないようにしているが,開発者ツールやページのソース表示で選択できるため0のときは1になるようにしている.
            				 		検索フォームで検索した語句があればその条件のリストの前のページに戻らないといけない.
            				 		そのため生成するURLに検索語句のクエリパラメータ(search=${search})を追加する.
									aria-label="Previous"はスクリーンリーダーで前のページという意味を表す
									(画面表示に影響はない).
									aria-hiddenはこの要素を画面では表示するがスクリーンリーダーからは隠す時に指定する.
									それがtrueなので読み上げられないようにしている.
									&laquo;は文字実体参照(HTMLでそのまま書くと問題が起きる文字や,直接入力しにくい文字を
									安全に表すための特別な書き方のこと).
									&○○;が基本形.HTMLエンティティ名の方法と数値文字参照(Unicodeコードポイント)の方法があり,
									laquoはHTMLエンティティ名で左二重山括弧(ラフト «)のことで画面上に表示されるのは«
									(Left-pointing double angle quotation mark
									のleftのl・angleのa・quotationのquo). */-->
								<a class="page-link" th:href="@{/users/list(page=${userList.prePage == 0} ? '1' : ${userList.prePage},
									search=${search})}" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>

							<!-- ページ番号 -->
							<!--/* navigatepageNumsは現在のページを中心にして,ページ番号ナビゲーション( << 1 2 3 4 5 >>
								の数字のところ)に使える数字の配列のこと.ページ番号ナビゲーションの最大表示数はデフォルトで8つで
								UserServiceImplのreturn new PageInfo<>(result);を
								return new PageInfo<>(result,5);など第二引数に最大表示数を数字で記載しておくとその値に変更できる.
								この配列は内部でcalcNavigatepageNums()で計算されている(コンストラクタで呼ばれて計算する).
								ページ数が最大表示数より少なければすべて表示され,大きければ現在のページ番号 - 最大表示数　/ 2をしたものをstartNumに,
								現在のページ番号 - 最大表示数　/ 2したものをendNumにいれていく.
								①startNumより1のほうが大きければ1から最大表示数がnavigatepageNums[]に入っていく([0～ページ数-1]に1からページ数が入る).
								②navigatepageNums[]が1より大きくendNumがページ数より大きければ endNum  = ページ数となり,
								最大表示数 - 1 から順にnavigatepageNums[]のインデックス（[]の中の数字）にいれていき,その要素としてendNumをデクレメントで代入する.
								(インデックスが0から最大表示数までのnavigatepageNums[]に最大表示数から(0じゃなく大きいほうから)順にページ数が大きい数から代入しているだけで,
								ページ数から最大表示数分1ずつカウントダウンした数字が入っていいる).
								③startNumが1より大きくて,endNumがページ数より大きくないとき(ページ数20で現在ページ6の時など),
								navigatepageNums[]にstartNumを代入していく([0から最大表示数-1]にstartNum(現在のページ番号 - 最大表示数　/ 2)が,
								1ずつ増えて入る.
								これは現在のページ番号が最大表示数の中心または一つ後ろになることを意味する.
								例)ページ数20・現在ページ6・最大表示数8なら「2・3・4・5・6・7・8・9」となり,最大表示数5なら「4・5・6・7・8」となる.
								pageNumは現在のページ番号を保持しているので現在のページ番号の数字をアクティブにする(フォントの色と背景色が変わる). */-->
							<li th:each="i : ${userList.navigatepageNums}" class="page-item"
								th:classappend="${i} == ${userList.pageNum} ? 'active'">
								<a class="page-link" th:href="@{/users/list(page=${i},search=${search})}"
									th:text="${i}"></a>
							</li>

							<!-- 次のページ -->
							<!--/* hasNextPage次のページが存在するかを表す真偽値で,
							!をつけて存在しなければ次のページのアイコンが暗くなる(disabled). 
							 nextPageは次のページ番号を表すフィールドでそれが private int nextPage;
							 int型で宣言されているのでnextPageは初期値が0となる(プリミティブ型はnullがない).
							 calcPage()メソッドでnextPageを更新するとき,
							 if (pageNum < pages) {
               					 nextPage = pageNum + 1;
            				 } という条件分岐となっている.
            				 現在ページが総ページより大きくなったらnextPageは更新されず初期値0のままのためnextPage = 0になる.
            				 aria-label="Next"はスクリーンリーダーで次のページという意味を表す
							(画面表示に影響はない).
							&raquo;は右二重山括弧(ラウト »)のこと.
							(right-pointing double angle quotation mark
							のrightのr・angleのa・quotationのquo). */-->
							<li class="page-item" th:classappend="${!userList.hasNextPage} ? 'disabled'">
								<a class="page-link" th:href="@{/users/list(page=${userList.nextPage == 0} ? '1' : ${userList.nextPage},
									search=${search})}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>

						</ul>
					</nav>
				</div>
			</div>
		</div>

		<!-- 戻るボタン -->
		<div class="text-center mt-5 mb-5">
			<a class="btn btn-dark btn-lg" th:href="@{/products/info/list}" role="button" th:text="#{back}"></a>
		</div>
	</div>
</body>

</html>