<!DOCTYPE html>
<html lang="ja" layout:decorate="~{layout/main-layout}">

<head>
	<!-- 個別CSS読込 -->
	<link rel="stylesheet" th:href="@{/css/users/password-edit.css}">
	<!--/* titleはfragmentで置換する */-->
	<title layout:fragment="title" th:text="${customHeader.headerItem}"></title>

</head>

<body>
	<div layout:fragment="content">
		<!--/* ユーザー登録ボタンと検索フォームをdivタグのrowでひとまとめにしている
			(rowを使うときはそのすぐ下の子要素にcolを加えないと意味がない).このまとまりの上下に余白を別で足している(margin). */-->
		<div class="row mt-5 mb-5">
			<!-- ユーザー登録ボタン -->
			<!--/* パソコン用(992px以上)ならユーザー登録ボタンと検索フォーム・ボタンが横並びになるようにしている.
			text-centerで中央寄せにしている.
			pb-4は小さい画面でユーザー登録ボタンと検索フォーム・ボタンが二段になっているときに余白をつけるためのもの. */-->
			<div class="col-lg-6 text-center pb-4" sec:authorize="hasAuthority('ROLE_ADMIN')">
				<a class="btn btn-dark btn-lg" th:href="@{/users/register}" role="button" th:text="#{userRegister}"></a>
			</div>

			<!-- 検索フォームと検索ボタン -->
			<!--/* 検索フォームと検索ボタンを横並びにすると検索ボタンの位置が離れるので2段にしている. */-->
			<div class="col-lg-6">
				<form class="" method="get" th:action="@{/users/list}">
					<!-- 検索フォーム -->
					<div class="text-center pb-3">
						<!--/* inputタグのw-auto d-inline-blockはform-controlのwidth:100%,
							display:blockを上書きしていおり,これにより検索フォームとボタンの高さを合わせている. */-->
						<label for="search"></label>
						<input class="form-control form-control-lg w-auto d-inline-block" 
							type="search" id="search" name="search" th:value="${search}"
							th:placeholder="#{searchForm}">
						<!--/* "管理者権限で検索するときは管理者または一般で検索してください"というメッセージを表示する. */-->
						<div class="pt-3" th:text="#{searchText1}"></div>
						<strong class="text-danger" th:text="#{admin}"></strong>
						<span th:text="#{searchText2}"></span>
						<strong class="text-danger" th:text="#{general}"></strong>
						<span th:text="#{searchText3}"></span>
					</div>

					<!-- 検索ボタン -->
					<div class="text-center">
						<label for="search-btn"></label>
						<button class="btn btn-outline-dark btn-lg" type="submit" id="search-btn"
							th:text="#{searchBtn}"></button>
					</div>
				</form>
			</div>

		</div>

		<!-- ユーザー一覧表示 -->
		<div class="row">
			<!--/* table-responsiveでラップしたテーブルは,テーブルの内容が多くて横幅が広くなったときにスクロールバーが表示される. */-->
			<div class="col table-responsive">
				<table class="table table-striped text-center fs-5">
					<thead>
						<tr>
							<th scope="col" th:text="#{employeeNumber}"></th>
							<th scope="col" th:text="#{familyName}"></th>
							<th scope="col" th:text="#{firstName}"></th>
							<th scope="col" th:text="#{emailAddress}"></th>
							<th scope="col" th:text="#{isAdmin}"></th>
							<th scope="col"></th>
						</tr>
					</thead>

					<tbody>
						<!--/* 削除済みのユーザー以外を表示する. */-->

						<tr th:each="item:${pageInfo.list}">

							<td th:text="${item.employeeNumber}"></td>
							<td th:text="${item.familyName}"></td>
							<td th:text="${item.firstName}"></td>
							<td th:text="${item.emailAddress}"></td>
							<td th:text="${item.isAdmin} == 1 ? #{admin} : #{general}"></td>
							<td>
								<!-- 修正ボタン -->
								<a class="btn btn-primary btn-lg me-3 mb-2"
									th:href="@{'/users/' + ${item.userId}+ '/edit'}" role="button"
									th:text="#{edit}"></a>
								<!-- パスワード修正ボタン -->
								<a class="btn info btn-lg me-3 mb-2"
									th:href="@{'/users/' + ${item.userId}+ '/passwordEdit'}"
									role="button" th:text="#{editPassword}"></a>
								<!-- 削除ボタン -->
								<a class="btn btn-danger btn-lg me-3 mb-2"
									th:href="@{'/users/' + ${item.userId}+ '/delete'}" role="button"
									th:text="#{delete}"></a>
							</td>
						</tr>
					</tbody>
				</table>

				<div>
					<!--/* navタグはウェブサイトの主要なナビゲーション（案内）リンクを囲むHTML5の要素でページネーションでも利用する.
						 aria-label属性はページネーションが「何のためのナビゲーションか」をスクリーンリーダー(読み上げソフト)に伝えるために必
						 要なものでPage navigationでページネーション用であることを伝える. */-->
					<nav aria-label="Page navigation">
						<!--/* paginationで体裁を整える(ボタン風にしたり,青文字にしたり,display:flex 子要素(li)を横並び).
							pagination-lgでサイズを大きくしている.
							 justify-content-centerで横並びの子要素(li)を中央揃えにする. */-->
						<ul class="pagination pagination-lg justify-content-center">

							<!-- 前のページ -->
							<!--/* page-itemで余白や角を丸くしたりなど整える.
								 hasPreviousPageはPageInfoクラスの前のページが存在するかをboolean型で返すメソッド.
								 本来はisHasPreviousPage()メソッドだがTymeleafはJavaBeansの仕様
								 (プロパティはgetter/setterで定義され,通常get~,set~だがboolean型のgetterは
								 is~からでもよくて,プロパティ名はget・set・isをのぞいた名前が付けられる(1文字目は小文字))
								 によりプロパティ名を通じて値にアクセスしている.
								 (PageHelperのPageInfoはprivate boolean hasPreviousPage = false;
								 というフィールドを保持し,
								 public boolean isHasPreviousPage() {
								        return hasPreviousPage;
								 }
								 というgetterを持つ) */-->
							<li class="page-item" 
								th:classappend="${!pageInfo.hasPreviousPage} ? 'disabled'">
								<a class="page-link" th:href="@{/users/list(page=${pageInfo.prePage})}"
									aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>

							<!-- Page Numbers -->
							<li th:each="i : ${pageInfo.navigatepageNums}"
								class="page-item"
								th:classappend="${i} == ${pageInfo.pageNum} ? 'active'">
								<a class="page-link" th:href="@{/users/list(page=${i})}" th:text="${i}"></a>
							</li>

							<!-- Next -->
							<li class="page-item [[${pageInfo.hasNextPage} ? '' : 'disabled']]">
								<a class="page-link" th:href="@{/users/list(page=${pageInfo.nextPage})}"
									aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>

						</ul>
					</nav>
				</div>
			</div>
		</div>

		<!-- 戻るボタン -->
		<div class="text-center mt-5 mb-5">
			<a class="btn btn-dark btn-lg" th:href="@{/products/info/list}" role="button" th:text="#{back}"></a>
		</div>
	</div>
</body>

</html>