<!DOCTYPE html>
<html lang="ja" layout:decorate="~{layout/form-layout}">

<head>
	<!-- 個別CSS読込 -->
	<link rel="stylesheet" th:href="@{/css/users/password-edit.css}">
	<title layout:fragment="title" th:text="${customHeader.headerItem}"></title>
</head>

<body>

	<div layout:fragment="content">

		<!-- メッセージ -->
		<div class="alert alert-info mt-5" role="alert">
			<strong class="fs-3" th:text="#{password}"></strong><span th:text="#{userPasswordEditMessage}"></span>
		</div>

		<form method="post" th:object="${passwordEditForm}"
			th:action="@{/users/{userId}/passwordEdit(userId=${user.userId})}">

			<!-- 従業員番号 -->
			<div>
				<div class="mb-1" for="employeeNumber" th:text="#{employeeNumber}"></div>
				<div class="ms-3 mb-3 fs-5" type="text" th:text="${user.employeeNumber}"></div>
			</div>

			<!-- 姓 -->
			<div>
				<div class="mb-1" for="familyName" th:text="#{familyName}"></div>
				<div class="ms-3 mb-3 fs-5" type="text" th:text="${user.familyName}"></div>
			</div>

			<!-- 名 -->
			<div>
				<div class="mb-1" for="firstName" th:text="#{firstName}"></div>
				<div class="ms-3 mb-3 fs-5" type="text" th:text="${user.firstName}"></div>
			</div>

			<!-- メールアドレス -->
			<div>
				<div class="mb-1" for="emailAddress" th:text="#{emailAddress}"></div>
				<div class="ms-3 mb-3 fs-5" type="text" th:text="${user.emailAddress}"></div>
			</div>

			<!-- パスワード -->
			<div>
				<label class="mb-1" for="password" th:text="#{password}"></label>
				<input class="form-control mb-3 fs-5" type="text" th:field="*{password}">


				<!--/* エラーがあるか確認し、エラーがあった時の設定を記述 */-->
				<div class="alert alert-warning alert-dismissible fade show" role="alert"
					th:if="${#fields.hasErrors('password')}">

					<!-- エラーメッセージ -->
					<span th:errors="*{password}"></span>
					<p></p>
					<p　th:text="#{availableCharacters}"></p>
					<p th:text="#{symbols}"></p>
					<p th:text="#{numbers}"></p>
					<!--/* アルファベットの羅列は長い文字列として認識されるため小さい画面だと折り返されないためtext-breakをつけてコンテナの幅を超えてレイアウトが崩れるのを防ぐ */-->
					<p class="text-break" th:text="#{uppercaseAlphabet}"></p>
					<p class="text-break" th:text="#{lowercaseAlphabet}"></p>

					<!-- エラーメッセージを消せるボタン -->
					<button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>

				</div>
				
			</div>

			<!-- 管理者権限 -->
			<div>
				<div class="mb-1" for="isAdmin" th:text="#{isAdmin}"></div>
				<div class="ms-3 mb-3 fs-5" type="text" th:text="${user.isAdmin == 1} ? #{admin} : #{general}"></div>
			</div>

			<div class="mt-5">
				<!-- 確定ボタン -->
				<button class="btn info btn-lg me-2 mb-5" type="submit" id="userEdit" name="userEdit"
					th:text="#{confirmed}"></button>

				<!-- キャンセルボタン -->
				<a class="btn outline-info btn-lg mb-5" th:href="@{/users/list}" role="button" id="cancel" name="cancel"
					th:text="#{cancel}"></a>
			</div>
		</form>

	</div>
</body>

</html>