<!DOCTYPE html>
<html lang="ja" layout:decorate="~{layout/form-layout}">

<head>
	<!-- 個別CSS読込 -->
	<link rel="stylesheet" th:href="@{/css/users/password-edit.css}">
	<!-- 個別JS読込 -->
	<script th:src="@{/js/popup.js}" defer></script>
	<title layout:fragment="title" th:text="${customHeader.headerItem}"></title>
</head>

<body>

	<div layout:fragment="content">
		<div class="mt-5">
			<form method="post" th:object="${passwordEditForm}"
				th:action="@{/users/{userId}/passwordEdit(userId=${user.userId})}">

				<!-- パスワード -->
				<div class="mb-4">
					<label class="mb-1" for="password" th:text="#{password}"></label>
					<input class="form-control mb-2 fs-5" type="password" th:field="*{password}"
						th:errorclass="is-invalid">

					<!-- エラーメッセージ -->
					<div class="invalid-feedback mb-4 fs-6" th:errors="*{password}"></div>

					<!-- 使用できる文字の表示 -->
					<span class="showCharacter" id="popup-trigger" th:text="#{showAvailableCharacters}"></span>

					<!-- ポップアップ内の表示 -->
					<div class="popup" id="popup">
						<div class="content">
							<!--/* アルファベットの羅列は長い文字列として認識されるため小さい画面だと折り返されないためtext-breakをつけてコンテナの幅を超えてレイアウトが崩れるのを防ぐ. */-->
							<p class="text-break" th:text="#{availableCharacters}"></p>
							<p class="text-break" th:text="#{symbols}"></p>
							<p class="text-break" th:text="#{numbers}"></p>
							<p class="text-break" th:text="#{uppercaseAlphabet}"></p>
							<p class="text-break" th:text="#{lowercaseAlphabet}"></p>
							<!--/* type="button"にしないとここを開くたびにパスワード修正の確定ボタンを押した挙動になるので注意する. */-->
							<button class="btn btn-primary btn-lg" id="close" type="button" th:text="#{close}"></button>
						</div>
					</div>

				</div>

				<div>
					<!-- パスワード再入力 -->
					<label class="mb-1" for="reEnterPassword" th:text="#{reEnterPassword}"></label>
					<input class="form-control mb-3 fs-5" type="password" th:field="*{reEnterPassword}">


				</div>

				<div class="mt-5">
					<!-- 確定ボタン -->
					<button class="btn btn-info btn-lg me-2 mb-5" type="submit" id="userEdit" name="userEdit"
						th:text="#{confirmed}"></button>

					<!-- キャンセルボタン -->
					<a class="btn btn-outline-info btn-lg mb-5" th:href="@{/products/info/list}" role="button"
						id="cancel" name="cancel" th:text="#{cancel}"></a>
				</div>

			</form>
		</div>
	</div>

</body>

</html>