<!DOCTYPE html>
<html lang="ja" layout:decorate="~{layout/error-layout}">

<head>
	<!-- 個別CSS読込 -->
	<link rel="stylesheet" th:href="@{/css/error/error.css}">
	<title layout:fragment="title" th:text="#{errorPage}"></title>
</head>

<body>
	<div layout:fragment="content">
		<div class="text-center mt-5">
			<h3 class="error-message text-danger" th:text="#{errorMessage}"></h3>
			<h4 class="mt-5" th:text="#{403ErrorMessage}"></h4>
			<div class="fs-5 fw-bold mt-4" th:text="#{backToTheHeader}"
			sec:authorize="isAuthenticated()"></div>
		</div>
	</div>
</body>

</html>