<!DOCTYPE html>
<html lang="ja" layout:decorate="~{layout/common-layout}">

<head>
	<!-- 個別CSS読込 -->
	<link rel="stylesheet" th:href="@{/css/error/error.css}">
	<title layout:fragment="title" th:text="#{errorPage}"></title>
</head>

<body>
	<div layout:fragment="content">
		<div class="text-center">
			<h3 class="error-message text-danger" th:text="#{errorMessage}"></h3>

			<h4 th:if="${error == 403}">
				このページを表示する権限がありません。ヘッダーのメニューから移動してください。
			</h4>
			
			<h4 th:if="${error == 404}">
				お探しのページは移動または削除された可能性があります。ヘッダーのメニューから移動してください。
			</h4>
			
			<h4 th:if="${error == 'MaxUploadSize'}" th:text="#{MaxUploadSizeMessage}">
				
			</h4>

			<!-- MaxUploadSizeExceededException以外すべてに表示する共通メッセージ -->
			<h4 th:if="${error == ''}">
				システム内で予期せぬエラーが発生しました。しばらく待ってからやり直すか、管理者へお問い合わせください。
			</h4>

		</div>
	</div>
</body>

</html>