<!DOCTYPE html>
<html lang="ja" layout:decorate="~{layout/error-layout}">

<head>
	<!-- 個別CSS読込 -->
	<link rel="stylesheet" th:href="@{/css/error/error.css}">
	<title layout:fragment="title" th:text="#{errorPage}"></title>
</head>

<body>
	<div layout:fragment="content">
		<div class="text-center mt-5">

			<h3 class="error-message text-danger" th:text="#{errorMessage}"></h3>

			<div class="mt-5">
				<!--/* 通常のメッセージ */-->
				<div th:if="${errorMessage == null}">
					<h4 th:text="#{commonErrorMessage}"></h4>
				</div>

				<!--/* 独自メッセージ */-->
				<div th:if="${errorMessage != null}">
					<h4 th:text="${errorMessage}"></h4>
				</div>

			</div>
		</div>

	</div>
</body>

</html>