<!DOCTYPE html>
<html lang="ja" layout:decorate="~{layout/common-layout}">

<head>
	<!-- 個別CSS読込 -->
	<link rel="stylesheet" th:href="@{/css/logout/logout.css}">
	<title layout:fragment="title" th:text="#{logout}"></title>
</head>

<body>
	<div layout:fragment="content">
		<div class="text-center">
			<h3 class="logout-message text-danger" th:text="#{logoutMessage}"></h3>
			
			<h4 class="mt-4 mb-5"><strong th:text="#{logoutStrongMessage}"></strong></h4>

			<a class="fw-bold fs-5" th:href="@{/login}" th:text="#{backToLogin}"></a>

		</div>
	</div>
</body>

</html>