<!DOCTYPE html>
<html lang="ja" layout:decorate="~{layout/form-layout}">

<head>
	<title layout:fragment="title" th:text="${customHeader.headerItem}"></title>
</head>

<body>

	<div layout:fragment="content">

		<!-- メッセージ -->
		<div class="fs-4 fw-bold text-center m-5">
			<div th:text="#{actualProductCountMessage}"></div>
		</div>
		
		<div>
			<form method="post" th:object="${stockEditForm}"
				th:action="@{/products/{productId}/count/edit(productId=${product.productId})}">

				<!-- 商品番号 -->
				<div class="mb-4">
					<div class="mb-2" th:text="#{productNumber}"></div>
					<div class="ms-3 mb-2" th:text="${product.productNumber}"></div>
				</div>


				<!-- 商品名 -->
				<div class="mb-4">
					<div class="mb-2" th:text="#{productName}"></div>
					<div class="ms-3 mb-2" th:text="${product.productName}"></div>
				</div>


				<!-- 実在庫数 -->
				<div class="mb-4">
					<label class="mb-2 text-danger fw-bold" for="actualProductCount"
						th:text="#{actualProductCount}"></label>
					<input class="form-control mb-2 fs-5" type="text" th:field="*{actualProductCount}"
						th:errorclass="is-invalid">

					<!-- エラーメッセージ -->
					<div class="invalid-feedback mb-4 fs-6" th:errors="*{actualProductCount}"></div>
				</div>

				<!-- 担当者 -->
				<div class="mb-4">
					<div class="mb-2" th:text="#{fullName}"></div>
					<div class="ms-3 mb-2" th:text="${#authentication.principal.fullName}"></div>

				</div>

				<!-- 備考 -->
				<div class="mb-4"> 
					<label class="mb-2" for="remarks" th:text="#{remarks}"></label>
					<input class="form-control mb-2 fs-5" type="text" th:field="*{remarks}" th:errorclass="is-invalid">

					<!-- エラーメッセージ -->
					<div class="invalid-feedback mb-4 fs-6" th:errors="*{remarks}"></div>
				</div>

				<div class="mt-5">
					<!-- 確定ボタン -->
					<button class="btn btn-info btn-lg me-2 mb-5" type="submit" id="confirmed" name="confirmed"
						th:text="#{confirmed}"></button>

					<!-- キャンセルボタン -->
					<a class="btn btn-outline-info btn-lg mb-5"
						th:href="@{/products/{productId}/info/display-details(productId=${product.productId})}"
						role="button" id="cancel" name="cancel" th:text="#{cancel}"></a>
				</div>
			</form>
		</div>
	</div>
</body>

</html>