<!DOCTYPE html>
<html lang="ja" layout:decorate="~{layout/form-layout}">

<head>
	<!-- 個別CSS読込 -->
	<link rel="stylesheet" th:href="@{/css/products/count/edit.css}">
	<title layout:fragment="title" th:text="${customHeader.headerItem}"></title>
</head>

<body>

	<div layout:fragment="content">

		<!-- メッセージ -->
		<div class="alert alert-info mt-5" role="alert">
			<strong class="fs-3" th:text="#{actualProductCount}"></strong><span th:text="#{input}"></span>
		</div>

		<form method="post" th:object="${stockEditForm}"
			th:action="@{/products/{productId}/count/edit(productId=${product.productId})}">

			<!-- 商品番号 -->
			<div>
				<div class="mb-1" th:text="#{productNumber}"></div>
				<div class="ms-3 mb-3" th:text="${product.productNumber}"></div>
			</div>


			<!-- 商品名 -->
			<div>
				<div class="mb-1" th:text="#{productName}"></div>
				<div class="ms-3 mb-3" th:text="${product.productName}"></div>
			</div>


			<!-- 実在庫数 -->
			<div>
				<label class="mb-1 text-danger fw-bold" for="actualProductCount"
					th:text="#{actualProductCount}"></label>
				<input class="form-control mb-3 fs-5" type="text" th:field="*{actualProductCount}"
					th:placeholder="#{actualProductCountInput}">

				<!--/* エラーがあるか確認し、エラーがあった時の設定を記述 */-->
				<div class="alert alert-warning alert-dismissible fade show" role="alert"
					th:if="${#fields.hasErrors('actualProductCount')}">

					<!-- エラーメッセージ -->
					<span th:errors="*{actualProductCount}"></span>

					<!-- エラーメッセージを消せるボタン -->
					<button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>

				</div>
			</div>

			<!-- 担当者 -->
			<div>
				<div class="mb-1" th:text="#{fullName}"></div>
				<div class="ms-3 mb-3" th:text="${fullName}"></div>

			</div>

			<!-- 備考 -->
			<div>
				<label class="mb-1" for="remarks" th:text="#{remarks}"></label>
				<input class="form-control mb-3 fs-5" type="text" th:field="*{remarks}">

				<!--/* エラーがあるか確認し、エラーがあった時の設定を記述 */-->
				<div class="alert alert-warning alert-dismissible fade show" role="alert"
					th:if="${#fields.hasErrors('remarks')}">

					<!-- エラーメッセージ -->
					<span th:errors="*{remarks}"></span>

					<!-- エラーメッセージを消せるボタン -->
					<button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>

				</div>
			</div>

			<div class="mt-5">
				<!-- 確定ボタン -->
				<button class="btn info btn-lg me-2 mb-5" type="submit" id="confirmed" name="confirmed"
					th:text="#{confirmed}"></button>

				<!-- キャンセルボタン -->
				<a class="btn outline-info btn-lg mb-5"
					th:href="@{/products/{productId}/info/display-details(productId=${product.productId})}"
					role="button" id="cancel" name="cancel" th:text="#{cancel}"></a>
			</div>
		</form>
	</div>
</body>

</html>